<html>
    <body>
         <a href = "/">Home</a><br>
        <table>
            <tr>
                <th>
                    Task Name
                </th>
                <th>
                    Task Due Date
                </th>
                <th>
                    Task Description
                </th>
            </tr>
            <tr>
                
            </tr>
            <% for(let i=0; i < task.length; i++){ %>
                <tr>
                    <td>
                        <%= task[i].name %>
                    </td>
                    <td>
                        <%= task[i].duedate %>
                    </td>
                    <td>
                            <%= task[i].description %>
                    </td>
                </tr>
            <% } %>
        </table>
    </body>
</html>